@use "variables" as *;

.sub-header {
    display: flex;
    justify-content: space-between;
    background-color: $gray100;
    padding: 12px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 36px;
}

.logo strong {
    color: $primary;
}